<div class="container">
  <header>
    <h1>Batter's Up: Who's Hot (and Not) in MLB 2021</h1>
    <h3>Find Your Favorite Hitter</h3>
  </header>
  <!-- intro text -->
  <article id="intro"></article>
  <!-- row for player/category search and returned chart -->
  <div class="row">
    {{!-- <div class="col-sm-12"> --}}
        <div class="input-field col s12">

          <!-- jquery autocomplete -->
          <div class="ui-widget">
            <label for="tags">Search Player:</label>
            <input id="tags">
          </div>

          <!-- materialize autocomplete -->
          {{!-- <i class="material-icons prefix">Textsms</i>
 
          <input type="text" id="demo-auto" class="autocomplete" placeholder="Player's Name">
 
          <label for="demo-auto">Enter Batter Name</label> --}}
      {{!-- <input class="form-control basicAutoComplete field" type="text" placeholder="Type in a player's name"
        data-url="../../seeds/batters.js" autocomplete="off"> --}}
      <input type="submit" id="searchButton" value="Search">
    </div>
  {{!-- </div> --}}
  <!-- row for player search return and chart display (GET route for this) -->
  <div class="row">
    <!-- player search return, has Handlebars input -->
    <div class="col-sm-6">

      <h3>{{ batter.name }}</h3>
      <h5>{{ batter.team }}</h5>
      <p>Games played: {{ batter.games_played }}</p>
      <p>Hits: {{ batter.hits }}</p>
      <p>Average: {{ batter.average }}</p>
      <p>Home runs: {{ batter.home_runs }}</p>
      <p>RBI: {{ batter.rbi }}</p>

      <!-- {{body}} -->
    </div>
    <!-- chart display, has Chart.js input and placeholder image -->
      {{>rbichart}}
      {{>hitchart}}
      {{>homerunchart}}
      {{>averagechart}}

    </div>
  <!-- row for add a player; hidden div for site admin logins only (POST route for this) -->
  <div class="row">
    <h3>Add a player</h3>
    <div class="col-sm-2"><input type="text" placeholder="Name"></div>
    <div class="col-sm-2"><input type="text" placeholder="Team"></div>
    <div class="col-sm-2"><input type="text" placeholder="Games played"></div>
    <div class="col-sm-2"><input type="text" placeholder="Hits"></div>
    <div class="col-sm-1"><input type="text" placeholder="Average"></div>
    <div class="col-sm-1"><input type="text" placeholder="Home runs"></div>
    <div class="col-sm-1"><input type="text" placeholder="RBI"></div>
    <button>Click to add</button>
  </div>
</div>