<div class="row">
    {{!-- <div class="col-sm-12"> --}}
  {{!-- </div> --}}
  <!-- row for player search return and chart display (GET route for this) -->
  <div class="row">
    <!-- player search return, has Handlebars input -->
    <div class="col-sm-6">

      <h3>{{ batter.name }}</h3>
      <h5>{{ batter.team }}</h5>
      <p>Games played: {{ batter.games_played }}</p>
      <p>Hits: {{ batter.hits }}</p>
      <p>Average: {{ batter.average }}</p>
      <p>Home runs: {{ batter.home_runs }}</p>
      <p>RBI: {{ batter.rbi }}</p>

      <!-- {{body}} -->
    </div>
    <!-- chart display, has Chart.js input and placeholder image -->
      {{>rbichart}}
      {{>hitchart}}
      {{>homerunchart}}
      {{>averagechart}}

    </div>
</div>